* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

/*Empieza estilo de imagenes de la pag experiencias*/
.imgclientes {
  height: 150px;
  width: 250px;
  margin-top: 50px;
  opacity: .4;
  border: 2px double gray; }
  .imgclientes:hover {
    opacity: 1;
    border: solid white 2px; }

.mainclientes p {
  padding: 50px;
  margin-left: 100px; }

.divclientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

/*Termina estilo de imagenes de la pag experiencias*/
/*Empieza estilo de la pag index*/
.mainindex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify; }
  .mainindex .divmainindex {
    margin-left: 100px; }

.parrafo1 {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 150px;
  margin-right: 5px; }

.img1 {
  margin-top: 100px; }

/*Termina estilo de la pag index*/
/*Empieza estilo del formularo de la pag contacto*/
.formcontacto {
  padding-top: 1px;
  max-width: 1000px;
  justify-content: center !important; }
  .formcontacto div {
    text-decoration: none;
    padding: 10px;
    padding-left: auto; }

#tituloContactForm {
  text-align: center;
  text-justify: auto; }

#botonesFormContacto {
  text-align: center; }
  #botonesFormContacto input {
    margin-right: 50px; }

#FormControlTextarea1 a:active {
  background-color: #7a7a7a; }

/*Termina estilo del formularo de la pag contacto*/
/*Empieza grilla de page videos */
.textoVideos {
  padding-left: 40px;
  text-align: center; }

.containerVideos {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "sectionVideosVideo1 sectionVideosVideo2" "sectionVideosVideo3 sectionVideosVideo4"; }

.sectionVideosVideo1 {
  grid-area: sectionVideosVideo1; }

.sectionVideosVideo2 {
  grid-area: sectionVideosVideo2; }

.sectionVideosVideo3 {
  grid-area: sectionVideosVideo3; }

.sectionVideosVideo4 {
  grid-area: sectionVideosVideo4; }

@media screen and (max-width: 768px) {
  .containerVideos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: "sectionVideosVideo1" "sectionVideosVideo2" "sectionVideosVideo3" "sectionVideosVideo4"; }
  .mainindex .divmainindex {
    display: none; }
  .mainindex .divmainindex2 {
    display: block !important;
    text-align: justify;
    margin-top: 50px; } }

/* Termina grilla de page videos */
/*Empieza stilo del la barra*/
nav {
  background-image: url("../img/barnav.jfif");
  background-size: cover;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.dropdown-menu {
  background-size: cover;
  background-image: url("../img/barnav.jfif"); }

.logo {
  width: 90px;
  height: 90%;
  border-radius: 10px; }

.menu {
  font-size: large;
  padding: 10px; }
  .menu a {
    color: #484646;
    text-decoration: none;
    padding: 10px;
    margin-right: 30px; }
    .menu a:hover {
      color: #484646;
      background-color: #dfd1d1;
      border-radius: 10px; }

/*Termina estilo del la barra*/
/*Empieza estilo de la pag nosotros*/
.mainnosotros {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger; }
  .mainnosotros #about {
    padding: 10px; }

.mainnosotros {
  padding: 10px 10px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  grid-template-areas: "detalleCostado detalle1 detalle1" "detalleCostado detalle2 detalle2" "detalleAbajo detalleAbajo detalleAbajo"; }

.detalleAbajo {
  grid-area: detalleAbajo;
  border-color: rgba(238, 237, 237, 0.714);
  border-style: ridge; }

.detalleCostado {
  margin-left: 20px;
  grid-area: detalleCostado;
  background-image: url("../img/profilepic.png");
  background-size: 90%;
  background-repeat: no-repeat;
  border-radius: 10%; }

.detalle1 {
  grid-area: detalle1;
  border-color: rgba(238, 237, 237, 0.714);
  border-style: ridge; }

.detalle2 {
  grid-area: detalle2;
  border-color: rgba(238, 237, 237, 0.714);
  border-style: ridge; }

@media screen and (max-width: 768px) {
  .mainnosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: "detalleCostado" "detalle1" "detalle2" "detalleAbajo"; } }

/*Termina estilo de la pag nosotros*/
/*Empieza estilo de la pag servicios*/
.mainservicios {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  align-items: center;
  justify-content: center; }
  .mainservicios p {
    margin-left: 50px; }
  .mainservicios #servicios {
    padding: 100px; }
  .mainservicios #phishing {
    margin-left: 200px; }

/*
.imgnormalizada img {
    max-width: 5000px;
    max-height: 500px;
}
*/
#carouselServicios {
  max-width: 1000px; }

/*Termina estilo de la pag servicios*/
/*Empieza estilo del footer*/
footer {
  width: 100%;
  position: relative;
  padding: 50px 0px;
  background-image: url(../img/background-footer.svg);
  background-size: cover;
  margin-top: auto; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }

.box__footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-around; }
  .box__footer div {
    padding-left: 100px; }
  .box__footer a {
    color: #7a7a7a;
    font-weight: 600; }
    .box__footer a:hover {
      opacity: 0.5; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }
  .box__copyright p {
    margin-top: 20px;
    color: #7a7a7a; }
  .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #ab2def; }

.rrss {
  width: 20px; }

/*Termina estilo del footer*/
