/*Empieza estilo de la pag servicios*/
.mainservicios {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    p {
        margin-left: 50px;
    }
    #servicios {
        padding: 100px;
    }
    #phishing {
        margin-left: 200px;
    }
}
/*
.imgnormalizada img {
    max-width: 5000px;
    max-height: 500px;
}
*/

#carouselServicios{
    max-width: 1000px;
}

/*Termina estilo de la pag servicios*/